form {
	height: 40px;
	width:500px;
	margin:0 auto;
}

#text-input {
	font-size:14px;
	height: 50%;
	width: 40%;
}

button {
	font-size:14px;
}

#container {
	height: 500px;
	width: 500px;
	border:1px solid black;
	margin:0 auto;
}

.grid-square {
	float:clear;
	float:left;
	background-color:white;
}

.highlight {
	background-color:black;
}